<h1>Error Accessing Page</h1>

<div class="form-group-center">
<p>This page is not for your jamatkhana. Press the button below to go back to your Announcements Page.</p>

<%= button_to "Back to Announcements", announcement_index_path, method: :get %>
</div>