// Place all the styles related to the Announcement controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

h1 {
    text-align:center;
}

//form {
//    text-align:center;
//}

input[type="checkbox"] {
    /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
}

.form-group-center {
    text-align:center;
}

.right-align {
    text-align:right;
}

span.navigationSpace {
    padding-left: 100px;
}

.form-control-dropdown {
    height:45px;
    @extend .form-control;
}

.form-group-hidden {
  display:none;
  @extend .form-group;
}

.hidden {
  display:none;
}